### Private
ArtefactCleanerScript
.idea/artifacts/ArtefactCleanerScript_jar_osmb.xml
MiningGuildScript
.idea/artifacts/MiningGuildScript_jar_osmb.xml
OsmbUtils
TestScript
.idea/artifacts/TestScript_jar_osmb.xml

### IntelliJ IDEA ###
out/production
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store