### Private
.idea/artifacts/ArtefactCleanerScript_jar_osmb.xml
.idea/artifacts/MiningGuildScript_jar_downloads.xml
.idea/artifacts/MiningGuildScript_jar_osmb.xml
.idea/artifacts/PestControlScript_jar_osmb.xml
.idea/artifacts/RunecrafterScript_jar_osmb.xml
.idea/artifacts/TestScript_jar_osmb.xmlArtefactCleanerScript
ArtefactCleanerScript
MiningGuildScript
OsmbUtils
PestControlScript
RunecrafterScript
TestScript

### IntelliJ IDEA ###
out/production
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store